@model LoaiPhongPhongTrangThaiPhong
@inject IHttpContextAccessor accessor
<div class="container " style="border:1px solid black">
    <div class="row">
        @{
            if(Model.error == false)
            {
                <h1 class="text-danger text-center">Bạn chưa nhập đủ thông tin</h1>
            }
        }
        <div class="col-3 p-0 " style="border : 1px solid black">
            <div class=" text-center list-group-item active" aria-current="true">Loại phòng</div>
            <div class="text-center">
                <a class="btn btn-block m-3" href="/room/index">All</a> <br />

                @foreach (var loaiphong in Model.loaiphongs)
                {
                    <a class="btn btn-block m-3"
                       asp-action="Index" asp-route-loaiphong="@loaiphong.MaLoaiPhong">@loaiphong.TenLoaiPhong</a>
                    <br />
                }
            </div>

            <div class=" text-center list-group-item active" aria-current="true">Trạng thái phòng</div>
            <div class="text-center">
                @foreach (var trangthai in Model.trangthaiphongs)
                {
                    <a class="btn btn-block m-3"
                       asp-action="Index" asp-route-trangthaiphong="@trangthai.MaTrangThai">@trangthai.TenTrangThai</a>
                    <br />
                }
            </div>
        </div>
        <div class="col-9 p-0 " style="max-height:650px;overflow-y:auto;overflow-x:hidden">
            <div class="row">
                @foreach (var phong in Model.phongs)
                {
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            @{
                                if (phong.MaLoaiPhongNavigation.MaLoaiPhong == "MLP1")
                                {
                                    <img src="~/pictures/phongdon.png" height="200" class="card-img-top" alt="">
                                }
                                else if (phong.MaLoaiPhongNavigation.MaLoaiPhong == "MLP2")
                                {
                                    <img src="~/pictures/phongdoi.png" height="200" class="card-img-top" alt="">

                                }
                                else if (phong.MaLoaiPhongNavigation.MaLoaiPhong == "MLP3")
                                {
                                    <img src="~/pictures/phonggiadinh.jpg" height="200" class="card-img-top" alt="">
                                }
                                else
                                {
                                    <img src="~/pictures/phongvip.jpg" height="200" class="card-img-top" alt="">
                                }
                            }
                            <div class="card-body">
                                <h5 class="card-title">@phong.TenPhong - @phong.MaTrangThaiNavigation.TenTrangThai</h5>
                                <div class="card-text">@phong.MaLoaiPhongNavigation.TenLoaiPhong - @String.Format("{0:N0}",phong.MaLoaiPhongNavigation.GiaPhong)</div>
                                <div>
                                    @{
                                        if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT1")//phòng trống
                                        {
                                            if (accessor.HttpContext.Session.GetString("UserName") != null) //nếu tài khoản là khách hàng thì hiện "đặt trước"
                                            {
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@phong.MaPhong">
                                                    Đặt trước
                                                </button>

                                            }
                                            //nếu tài khoản là admin hoặc nhân viên thì hiện là "đăt phòng"
                                            else
                                            {
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@phong.MaPhong">
                                                    Đặt phòng
                                                </button>

                                            }
                                            <!-- The Modal -->
                                            <div class="modal fade " id="@phong.MaPhong">
                                                <div class="modal-dialog modal-dialog-centered modal-xl">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Đặt phòng - @phong.MaLoaiPhongNavigation.TenLoaiPhong - @phong.TenPhong - @String.Format("{0:N0}",phong.MaLoaiPhongNavigation.GiaPhong)</h4>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body row ">
                                                            <form method="post" class="form-group row" asp-controller="Room" asp-action="datPhongVaDichVu" id="myForm">
                                                                <input class="tienPhong" type="hidden" value="@phong.MaLoaiPhongNavigation.GiaPhong">
                                                                <div class="col-6 p-5" style="border:1px solid black">
                                                                    @if (accessor.HttpContext.Session.GetString("UserName") != null) // nếu tài khoản là khách hàng thì tự động điện thông tin vào phiếu đăng kí đặt phòng
                                                                    {
                                                                        <div class="text-center"><b>Thông tin khách hàng</b></div>
                                                                        <label class="form-label">Họ và tên</label>
                                                                        <input class="form-control" name="hoten" value="@Model.Person.HoTen" disabled />

                                                                        <label class="form-label">Tuổi</label>
                                                                        <input class="form-control" type="number" name="tuoi" value="@Model.Person.Tuoi" disabled />

                                                                        <label class="form-label">Giới tính</label>
                                                                        <select class="form-select" name="gioitinh">
                                                                            <option disabled value="0" selected="@Equals(Model.Person.GioiTinh,0)">Nam</option>
                                                                            <option disabled value="1" selected="@Equals(Model.Person.GioiTinh,1)">Nữ</option>
                                                                        </select>

                                                                        <label class="form-label">CCCD</label>
                                                                        <input class="form-control" name="cccd" value="@Model.Person.PersonId " disabled>

                                                                        <label class="form-label">SĐT</label>
                                                                        <input class="form-control" name="sdt" value="@Model.Person.Sdt" disabled>
                                                                    }
                                                                    else //nếu là tài khoản admin hoặc nhân viên thì tự điền
                                                                    {
                                                                        <div class="text-center"><b>Thông tin khách hàng</b></div>
                                                                        <label class="form-label">Họ và tên</label>
                                                                        <input class="form-control" name="hoten" />

                                                                        <label class="form-label">Tuổi</label>
                                                                        <input class="form-control" type="number" name="tuoi" />

                                                                        <label class="form-label">Giới tính</label>
                                                                        <select class="form-select" name="gioitinh">
                                                                            <option value="0">Nam</option>
                                                                            <option value="1">Nữ</option>
                                                                        </select>

                                                                        <label class="form-label">CCCD</label>
                                                                        <input class="form-control" name="cccd">

                                                                        <label class="form-label">SĐT</label>
                                                                        <input class="form-control" name="sdt">

                                                                    }
                                                                    <label class="form-label">Ngày đến:</label>
                                                                    <input class="dayIn" type="date" oninput="tinhNgay(this)" name="ngayden">

                                                                    <label class="form-label">Ngày đi</label>
                                                                    <input class="dayOut" type="date" oninput="tinhNgay(this)" name="ngaydi"> <br>

                                                                    <input type="hidden" value="@phong.MaPhong" name="maphong">
                                                                    <div class="totalDays">Tổng ngày thuê: </div>
                                                                    <div class="tongTienPhong">Tổng tiền phòng: </div>
                                                                </div>

                                                                <div class="col-6 p-5" style="border:1px solid black">
                                                                    <div class="text-center"><b>Dịch vụ</b></div>
                                                                    <table class="table" id="dichVuTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Chọn</th>
                                                                                <th>Tên dịch vụ</th>
                                                                                <th>Giá dịch vụ</th>
                                                                                <th>Số lượng</th>
                                                                                <th>Tổng tiền</th>
                                                                            </tr>
                                                                        </thead>

                                                                        <tbody>
                                                                            @{
                                                                                foreach (var dichvu in Model.dichvus)
                                                                                {
                                                                                    <tr>
                                                                                        <td>
                                                                                            <input style=" transform: scale(2.5); " type="checkbox" class="checkbox" data-gia="@dichvu.GiaDichVu" onclick="updateTotal(this)">
                                                                                        </td>
                                                                                        <td class="madichvu" data-madichvu="@dichvu.MaDichVu">@dichvu.TenDichVu</td>
                                                                                        <td>@String.Format("{0:N0}",dichvu.GiaDichVu)</td>
                                                                                        <td>
                                                                                            <input style="width:50px" class="form-control quantity" data-gia="@dichvu.GiaDichVu" oninput="updateTotal(this)" />
                                                                                        </td>

                                                                                        <td class="total"></td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                    <input type="hidden" id="selectedServiceIds" name="selectedServiceIds" />
                                                                    <input type="hidden" id="servicePrice" name="servicePrice" />
                                                                    <input type="hidden" id="selectedQuantities" name="selectedQuantities" />
                                                                    <div class="tongTien">Tổng tiền dịch vụ: 0</div>
                                                                    <div class="totalAll">Tổng tất cả: </div>
                                                                </div>

                                                                <!-- Modal footer -->
                                                                <div class="modal-footer">
                                                                    <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick="submitForm(this)">Xác nhận</button>
                                                                </div>
                                                            </form>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closeForm()">Close</button>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT2") // đang thuê
                                        {
                                            //nếu không có tài khoản nào đăng nhập thì ko hiện gì cả
                                            if (accessor.HttpContext.Session.GetString("UserName") == null && accessor.HttpContext.Session.GetString("admin") == null && accessor.HttpContext.Session.GetString("nhanvien") == null)
                                            {

                                            }
                                            //nếu có tài khoản admin hoặc nhân viên đăng nhập thì hiện nút thanh toán
                                            if (accessor.HttpContext.Session.GetString("admin") != null || accessor.HttpContext.Session.GetString("nhanvien") != null)
                                            {
                                                <a class="btn btn-primary" asp-controller="Room" asp-action="thanhToan" asp-route-maphong="@phong.MaPhong">Thanh toán</a>
                                            }
                                            //nếu đăng nhập tài khoản user
                                            else if (accessor.HttpContext.Session.GetString("UserName") != null)
                                            {
                                                <button class="btn btn-primary" disabled>Đang thuê</button>
                                            }
                                        }
                                        else if (phong.MaTrangThaiNavigation.MaTrangThai == "MTT3") // đặt trước
                                        {
                                            //nếu là tài khoản admin hoặc nhân viên thì hiện nút xác nhận
                                            if (accessor.HttpContext.Session.GetString("UserName") == null 
                                            && (accessor.HttpContext.Session.GetString("admin") != null || accessor.HttpContext.Session.GetString("nhanvien") != null))

                                            {
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@phong.MaPhong">
                                                    Xác nhận
                                                </button>
                                                <!-- The Modal -->
                                                <div class="modal fade" id="@phong.MaPhong">
                                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Xác nhận</h4>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                            </div>

                                                            <!-- Modal body -->
                                                            <div class="modal-body row">
                                                                <form method="post" class="form-group row">
                                                                    <div class="col-6 p-5" style="border:1px solid black">
                                                                        <div class="text-center"><b>Thông tin khách hàng</b></div>
                                                                        <label class="form-label">Họ và tên</label>
                                                                        <input class="form-control" value="@phong.OrderPhongs.FirstOrDefault().Person.HoTen" disabled>

                                                                        <label class="form-label">Tuổi</label>
                                                                        <input class="form-control" value="@phong.OrderPhongs.FirstOrDefault().Person.Tuoi" type="number" disabled>

                                                                        <lable class="form-lable">Giới tính</lable>
                                                                        <select class="form-select">
                                                                            <option disabled value="0" selected="@Equals(phong.OrderPhongs.FirstOrDefault().Person.GioiTinh,0)">Nam</option>
                                                                            <option disabled value="1" selected="@Equals(@phong.OrderPhongs.FirstOrDefault().Person.GioiTinh,1)">Nữ</option>
                                                                        </select>

                                                                        <label class="form-label">CCCD</label>
                                                                        <input disabled class="form-control" value="@phong.OrderPhongs.FirstOrDefault().Person.PersonId">

                                                                        <label class="form-label">SĐT</label>
                                                                        <input disabled class="form-control" value="@phong.OrderPhongs.FirstOrDefault().Person.Sdt">

                                                                        <label>Ngày đến</label>
                                                                        <div>@phong.OrderPhongs.FirstOrDefault().NgayDen.ToString()</div>

                                                                        <label>Ngày đi</label>
                                                                        <div>@phong.OrderPhongs.FirstOrDefault().NgayDi</div>

                                                                    </div>

                                                                    <div class="col-6 p-5" style="border:1px solid black">
                                                                        <div class="text-center">Dịch vụ</div>
                                                                        <table class="table">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>STT</th>
                                                                                    <th>Tên dịch vụ</th>
                                                                                    <th>Giá dịch vụ</th>
                                                                                    <th>Số lượng</th>
                                                                                    <th>Tổng tiền</th>
                                                                                </tr>
                                                                            </thead>

                                                                            <tbody>
                                                                                @{
                                                                                    int i = 1;
                                                                                    foreach (var dichvu in phong.OrderPhongs.FirstOrDefault().OrderPhongDichVus)
                                                                                    {
                                                                                        <tr>
                                                                                            <th>@(i++)</th>
                                                                                            <th>@dichvu.MaDichVuNavigation.TenDichVu</th>
                                                                                            <th>@String.Format("{0:N0}",@dichvu.DonGia)</th>
                                                                                            <th>@dichvu.SoLuong</th>
                                                                                            <th>@String.Format("{0:N0}",(dichvu.DonGia * dichvu.SoLuong))</th>
                                                                                        </tr>
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </form>

                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <a class="btn btn-danger" asp-action="xacNhanDatPhong" asp-route-maphong="@phong.MaPhong">Xác nhận</a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <button class="btn btn-primary" disabled>Đã đặt trước</button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>


<script>
    var g_tongDichVu = 0
    var tongTienPhong = 0;
    var element_cua_ham_updateTotal;
    function tinhNgay(element) {
        var form = element.closest('.form-group');
        var dayIn = form.querySelector(".dayIn");
        var dayOut = form.querySelector(".dayOut");
        var date1 = new Date(dayIn.value);
        var date2 = new Date(dayOut.value);
        var diffTime = Math.abs(date2 - date1);
        var totalDays = form.querySelector(".totalDays").textContent = Math.ceil(diffTime / 1000 / 60 / 60 / 24)
        form.querySelector(".totalDays").textContent = "Tổng ngày thuê: " + totalDays
        tongTienPhong = totalDays * form.querySelector(".tienPhong").value
        form.querySelector(".tongTienPhong").textContent = "Tổng tiền phòng: " + tongTienPhong.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });

        form.querySelector(".totalAll").textContent =
            "Tổng tất cả: " + (tongTienPhong + g_tongDichVu).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }

    // Hàm cập nhật tổng tiền
    function updateTotal(element) {
        var totalDichVu = 0;// tổng chung các dịch vụ đã chọn


        var form = element.closest('.form-group');

        // Duyệt qua mỗi dòng trong bảng
        var tableRows = form.querySelectorAll("#dichVuTable tbody tr");

        tableRows.forEach(function (row) {
            var checkbox = row.querySelector(".checkbox");
            var quantityInput = row.querySelector(".quantity");
            var totalCell = row.querySelector(".total");

            // Kiểm tra checkbox đã chọn
            if (checkbox.checked) {
                // Lấy giá và số lượng
                var gia = parseFloat(checkbox.getAttribute("data-gia"));
                var quantity = parseInt(quantityInput.value);

                // Tính tổng tiền cho dòng
                var rowTotal = gia * quantity;

                // Cập nhật tổng tiền và hiển thị
                totalDichVu += rowTotal;
                totalCell.textContent = rowTotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
            } else {
                // Nếu checkbox không chọn, đặt tổng tiền cho dòng là 0
                totalCell.textContent = "0";
            }
        });

        // Hiển thị tổng tiền chung
        form.querySelector(".tongTien").textContent = "Tổng tiền dịch vụ: " + totalDichVu.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        form.querySelector(".totalAll").textContent = "Tổng tất cả: " + (tongTienPhong + totalDichVu).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
        g_tongDichVu = totalDichVu;
    }

    function submitForm(element) {
        console.log('submitForm')
        // Cập nhật các trường input ẩn trước khi nộp biểu mẫu
        updateSelectedData(element);

        // Nộp biểu mẫu
        document.getElementById("myForm").submit();
    }

    function updateSelectedData(element) {
        var form = element.closest('.form-group');
        var serviceIds = [];
        var servicePrice = [];
        var selectedQuantities = [];

        // Lặp qua các hàng để thu thập dịch vụ và số lượng đã chọn
        var rows = form.querySelectorAll("#dichVuTable tbody tr");

        for (var row of rows) {
            var checkbox = row.querySelector(".checkbox");
            var quantity = row.querySelector(".quantity");
            var madichvu = row.querySelector(".madichvu");
            if (checkbox.checked) {
                serviceIds.push(madichvu.getAttribute("data-madichvu"));
                servicePrice.push(checkbox.getAttribute("data-gia"));
                selectedQuantities.push(quantity.value);
            }
        }
        form.querySelector("#selectedServiceIds").value = serviceIds.join(',');
        form.querySelector("#servicePrice").value = servicePrice.join(',');
        form.querySelector("#selectedQuantities").value = selectedQuantities.join(',');
    }

    function closeForm() {
        var form = document.getElementById("myForm");
        form.reset(); // Đặt lại giá trị của tất cả các trường input trong form
    }

</script>